header{
    color: tomato;
    background-color: blue;
text-align: center;
font-size: 15px;}
h1{
    color: navy;
    background-color: orange;
    text-align: center;
    font-size: 15px;}
body{background-color: crimson;}
    h2  {
        background-color: cornflowerblue;
        padding: 15px;
        border: solid;color: 10px darkblue;
     margin: 15px;}

     p{background-color: lightpink;
        font-size: 30px;
        text-align: center;
        padding: 15px;
        border:solid;color: 20px; ;color: magenta;
        margin: 10px;}
   h2{background-color: cornflowerblue;
    padding: 15px;
    border: 10px solid;color: darkblue; 
    margin: 15px;} 
footer{background-color: darkslateblue;
    padding: 15px;
    border: 10px dotted;color: dodgerblue;
    font-size: 30px;
    margin: 20px;}
       

